#################################################################################################
#                                  - °ø½Ä »çÀÌÆ® : https://koreafastserver.wixsite.com/kaillera                                                     #
#                                  - ¹öÀü : KoreaFastServer_1.0                                                                                          #
#################################################################################################
# #À» ÇßÀ»½Ã ¼³Á¤ÀÌ ¾ÈµË´Ï´Ù. ¼³Á¤ÇÏ½Ç¶§´Â #¸¦ Áö¿ì°í ÇÏ¼Å¾ßÇÕ´Ï´Ù.

#**********************************************************************************************************************************

 ##################################################################################################
 #                                       ³×Æ®¿öÅ© ¼³Á¤ / ¼­¹ö¼³Á¤                                                                                          #
 ##################################################################################################
 # ºñ¿µ¾î±Ç ¹®ÀÚ¿­ ÀÔÃâ·Â ±úÁüÇö»ó ¼öÁ¤ ¸í·É¾î
 # Cyrillic - Cp1251; Latin - Cp1252; Korean - Cp949 etc.
emulinker.charset = cp949
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ¼­¹ö¿¡¼­ »ç¿ëµÉ Æ÷Æ® ¹øÈ£
controllers.connect.port=27888
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ¿¬°á Á¢¼Ó ¸Þ½ÃÁö¸¦ À§ÇÑ ¹öÆÛ Å©±â
controllers.connect.bufferSize=4096
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # Æ÷Æ® ¹üÀ§ ½ÃÀÛ
controllers.v086.portRangeStart=27889
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ¼­¹ö¿¡ ²Ë Ã£À» °æ¿ì ¿î¿µÀÚ°¡ Á¢¼ÓÇÒ ¼ö ÀÖ´Â Æ÷Æ®
controllers.v086.extraPorts=27889
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ¸ðµç ÆÐÅ¶À» À§ÇÑ ¹öÆÛ
 # 1024ÀÇ ¹è¼ö·Î Àû´çÈ÷ Á¶ÀýÇÏ½Ã±æ ¹Ù¶ø´Ï´Ù.
controllers.v086.bufferSize=10240
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ¼³Á¤ÇÏÁö ¸¶½Ã±â ¹Ù¶ø´Ï´Ù.
controllers.v086.clientTypes.clientType=0.83
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡

#**********************************************************************************************************************************


##################################################################################################
#                                       °ÔÀÓ ¹öÆÛ »çÀÌÁî ¼³Á¤                                                                                             #
##################################################################################################
 # °ÔÀÓ µ¥ÀÌÅÍ ´ë±â¿­À» À§ÇÑ ¹öÆÛ »çÀÌÁî, 1024ÀÇ ¹è¼ö·Î 2~3¹è Àû´çÈ÷ Á¶ÀýÇÏ¼¼¿ä.
game.bufferSize=2048
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ÇÃ·¹ÀÌ¾î°¡ µ¥ÀÌÅÍ Àü¼ÛÀÌ ¾ÈµÇ°íÀÖÀ¸¸é, ÇÎ Å¸ÀÓ¾Æ¿ô, ÀÀ´ä¾ø´Â ½Ã°£ Á¦ÇÑ ¼³Á¤ (1/1000ÃÊ)
game.timeoutMillis=2250
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ÇÃ·¹ÀÌ¾î°¡ µð½ÌÅ©·Î ÀÎ½ÄµÇ±â ÀüÀÇ ¿¬¼ÓÀûÀÎ µð½ÌÅ© Å¸ÀÓ¾Æ¿ô Á¦ÇÑÀÔ´Ï´Ù.
 # 4·Î ¼³Á¤ÇÑ °æ¿ì, 4¹ø ¿¬¼ÓÀ¸·Î ÇÃ·¹ÀÌ¾î°¡ Å¸ÀÓ¾Æ¿ôµÇ¸é, ¼­¹ö´Â ÇÃ·¹ÀÌ¾î¸¦ µð½ÌÅ©µÆ´Ù°í »ý°¢ÇÕ´Ï´Ù.
game.desynchTimeouts=10

#**********************************************************************************************************************************


 ##################################################################################################
 #                                       ÀÚµ¿¿¬»ç¿¡ °¨Áö¿¡ ´ëÇÑ ¼³Á¤                                                                                      #
 #                                                                                                                                                                #
 #                              ¿¡¹Ä·¹ÀÌÅÍ ÀÚµ¿ ¿¬»ç±â´ÉÀ» °¨ÁöÇÕ´Ï´Ù.                                                                                 #    
 #                  °¨Áö °á°ú°¡ Ç×»ó ¿ÇÀº °ÍÀº ¾Æ´Ï¸ç, CPUÁ¡À¯À²ÀÌ ¿Ã¶ó°¥¼ö ÀÖ½À´Ï´Ù.                                                           #
 #                       0: »ç¿ë¾ÈÇÔ, 1: °¡Àå ÀÛÀº ¹Î°¨µµ, 5: °¡Àå Å« ¹Î°¨µµ                                                                           #
 ##################################################################################################
 # game.defaultAutoFireSensitivity=0 : 
 # game.defaultAutoFireSensitivity=1 : 
 # game.defaultAutoFireSensitivity=1
game.defaultAutoFireSensitivity=0

#**********************************************************************************************************************************


##################################################################################################
 #                                         ¼­¹ö ¸¶½ºÅÍ ¼³Á¤ 1                                                                                               #
 ##################################################################################################
 # ¼­¹ö ÀÌ¸§ (Ä«ÀÏ·¹¶ó ¼­¹ö¿¡ º¸¿©Áú ÀÌ¸§ / ¿µ¾î·Î¸¸ °¡´ÉÇÕ´Ï´Ù.)
masterList.serverName=[Korea Fast Server. 1] (KFS.1)
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ¼­¹ö ¼³Á¤ÇÑ ³ª¶ó (Ä«ÀÏ·¹¶ó¿¡ º¸¿©Áú Àå¼Ò / ¿µ¾î·Î¸¸ °¡´ÉÇÕ´Ï´Ù.)
masterList.serverLocation=Korea Republic
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # °ø½Ä »çÀÌÆ® ¼³Á¤
masterList.serverWebsite=koreafastserver.wixsite.com/kaillera
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ¼­¹ö¿¡ »ç¿ëµÉ IP ÁÖ¼Ò (ºñ¿öµµ µË´Ï´Ù.)
masterList.serverConnectAddress=
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # Ä«ÀÏ·¹¶ó (www.kaillera.com) ¿¡ º¸ÀÌµµ·Ï ¼³Á¤ÇÒ°ÍÀÎ°¡. true °ø°³ / false ºñ°ø°³
 # ºñ°ø°³·Î ¼­¹ö¸¦ ¿î¿µÇÏ½Ã°Ú´Ù¸é, false ¸¦ ÀÔ·ÂÇÏ¼¼¿ä.
masterList.touchKaillera=true
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ¿¡¹Ä¸µÄ¿ (www.emulinker.org) ¿¡ º¸ÀÌµµ·Ï ¼³Á¤ÇÒ°ÍÀÎ°¡. true °ø°³ / false ºñ°ø°³
 # ºñ°ø°³·Î ¼­¹ö¸¦ ¿î¿µÇÏ½Ã°Ú´Ù¸é, false ¸¦ ÀÔ·ÂÇÏ¼¼¿ä.
masterList.touchEmulinker=false
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ºñ°ø°³ ¼³Á¤À¸·Î ÇÒ°ÍÀÎ°¡.

#**********************************************************************************************************************************


 ##################################################################################################
 #                                         ¼­¹ö ¸¶½ºÅÍ ¼³Á¤ 2                                                                                                #
 ##################################################################################################
 # ¼­¹ö ÇÎÁ¦ÇÑ ¼³Á¤
server.maxPing=100
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ¼­¹ö Á¢¼Ó¹æ½Ä ¼³Á¤
 # 1 = LAN, 2 = Excellent, 3 = Good, 4 = Average, 5 = Low, 6 =  Bad
server.allowedConnectionTypes=1,2,3,4,5,6
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ¼­¹ö ÃÖ´ë Á¢¼ÓÀÚ ¼³Á¤
server.maxUsers=150
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # µ¿½Ã¿¡ °³¼³ °¡´ÉÇÑ ÃÖ´ë ¹æ ¼ö¸¦ ¼³Á¤ÇÕ´Ï´Ù
server.maxGames=150
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # È¥ÀÚ ÇÃ·¹ÀÌÇÏ´Â °ÍÀ» ÇÏ¿ëÇÒÁöÀÇ ¿©ºÎÀÔ´Ï´Ù.
server.allowSinglePlayer=true
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ¼­¹ö¿¡¼­ °°Àº ÀÌ¸§ÀÌ ¿À´Â°ÍÀ» ±ÝÁöÇÕ´Ï´Ù (°°Àº IP·Î Á¢¼Ó)
server.allowMultipleConnections=true
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ¼­¹ö¿¡¼­ ºñÈ°µ¿½Ã°£ÀÌ 160ÃÊ¸é ÇÎÅ¸ÀÓ¾Æ¿ôÀ¸·Î ¼³Á¤
 # Æ¯º°È÷ ¼³Á¤ÇÒÀÏÀº ¾ø½À´Ï´Ù.
server.keepAliveTimeout=99999999
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # 900 = 15ºÐ, ½¬°íÀÖÀ¸¸é 15ºÐ¿¡ Å¸ÀÓ¾Æ¿ô, (»ç¿ë¾ÈÇÔ :0)
server.idleTimeout=0

#**********************************************************************************************************************************



 ##################################################################################################
 #                                         ±âÅ¸ ±â´É                                                                                                           #
 ##################################################################################################
 # ¼­¹ö¿¡¼­ 2ÃÊ¿¡ ¸»À» ¹Ýº¹À¸·Î ÇÏ¸é, ¸» Á¤Áö (µµ¹è¹æÁö ±â´É) (0 Àº ºñÈ°¼º)
server.chatFloodTime=0
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ¼­¹ö¿¡¼­ 2ÃÊ¿¡ °ÔÀÓÀ» ¹Ýº¹À¸·Î ¸¸µé¸é, ÅðÀå (0 Àº ºñÈ°¼º)
server.createGameFloodTime=0
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # »ç¿ëÀÚ ÃÖ´ë ´Ð³×ÀÓ ±æÀÌ, (0 Àº ºñÈ°¼º)
server.maxUserNameLength=0
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # »ç¿ëÀÚ ÃÖ´ë ¿¡¹Ä·¹ÀÌÅÍ ÀÌ¸§ ±æÀÌ, (0 Àº ºñÈ°¼º)
server.maxClientNameLength=0
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ¼­¹ö¿¡¼­ Ã¤ÆÃÇÒ¶§ ¸Þ¼¼Áö ±æÀÌ, (0 Àº ºñÈ°¼º)
server.maxChatLength=0
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # ¼­¹ö¿¡¼­ ÃÖ´ë °ÔÀÓÀÌ¸§ ±æÀÌ, (0 Àº ºñÈ°¼º)
server.maxGameNameLength=0
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # »ç¿ëÀÚ ÃÖ´ë ÅðÀå ¸Þ½ÃÁö ±æÀÌ, (0 Àº ºñÈ°¼º)
server.maxQuitMessageLength=0
 # ¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡¦¡
 # °ÔÀÓ Áß Ã¤ÆÃÇÒ¶§ ¸Þ½ÃÁö ±æÀÌ, (0 Àº ºñÈ°¼º)
server.maxGameChatLength=0
